body {
  background: url(clover-1225988_1280.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-color: green;
  background-blend-mode: screen;*/
  font-size: 100%;
}

.heading {
  color: #d9ecd0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 1%;
  font-size: 3em;

}

.main_text {
  color: #d9ecd0;
  text-align: justify;
  font-size: 1.2  em;
}

.contact{
  color: #d9ecd0;
  font-size: 2.5em;
}

.testimonials{
  color: #d9ecd0;
}
