body {
  background: url(tram_picture.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.heading {
  color: white;
  margin-left: 5%;
}

.main_text {
  color: white;
  margin-left: 5%;
}
